<h1 class="mb-4">My lists</h1>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= list.name %></h5>
          <p class="card-text text-muted">
            <%= pluralize(list.bookmarks.count, "movie") %> in this list
          </p>

          <div class="mt-auto">
            <%= link_to "View list", list_path(list), class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<%= link_to "Create a new list", new_list_path, class: "btn btn-success" %>
