[submodule "fullstack-challenges-04-Rails-watch-list-specs"]
	path = fullstack-challenges-04-Rails-watch-list-specs
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-watch-list-specs.git
